<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="../style.css">
<body>
    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul> 
        </header>
        <main>
        <img src="../img/servicio.jpg"alt="">
        <div class="main_principal">

            <h2>Bienvenidos a mi pagina de servicios</h2>
            <video src ="../video/video1.mp4" controls autoplay width="100%"></video>
        
        <p>Esto es un parrafo dentro de un divisor</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos maxime neque sunt aut consequuntur.
        Iure earum quis eos, sed error, minima id, quos impedit vero aut nisi eveniet modi. Qui!</p>
        </div>
        </main>
        <footer>
            <p>pie de mi pagina web</p>
        </footer>
    </div>
</body>
</html>